<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-7'>
      <h2>customers</h2>
    <% @customers.each do |customer| %>
    <tbody>
      <tr>
        <td><%= customer.last_name %></td>
        <td><% if current_customer.following?(customer) %>
                <%= link_to "フォロー外す", customer_relationships_path(customer.id), method: :delete %>
              <% else %>
                <%= link_to "フォローする", customer_relationships_path(customer.id), method: :post %>
              <% end %></td>
        <td><%= link_to 'Show', customer %></td>
      </tr>
    </tbody>
    <% end %>
    </div>
  </div>
</div>