<div class="container">
  <div class="row mt-5">
    <!--トップ画像-->
    <div class="col-md-10 text-center">
      <p class="shadow-lg font-weight-bold">
        ざつマメはユーザー同士で雑学や豆知識を楽しむサイトです。<br>
        ページトップからゲストログイン、またはサインインをお願いします。<br>
        ユーザー登録をすると、投稿とお気に入り機能などをご利用いただけます。<br>
      </p>
    </div>
  </div>
  <%= link_to "全ての投稿を見る >", articles_path %>
</div>

