<% article.article_comments.each do |article_comment| %>
    <%= article_comment.comment %>
      <%= link_to 'Destroy', article_article_comment_path(article_comment.article, article_comment), remote: true, method: :delete, data: { confirm: '本当に消しますか？' },  class: "btn btn-sm btn-danger"%>
    <p><%= article_comment.user.nickname %></p>
<% end %>