<% article.article_comments.each do |article_comment| %>
    <%= article_comment.comment %>
    <%= link_to 'Destroy', admin_article_article_comment_path(article_comment.article, article_comment),  method: :delete, class: "btn btn-sm btn-danger"%>
    <p><%= article_comment.user.nickname %></p>
<% end %>