<% genres.each do |genre|%>
  <% if user_signed_in?%>
    <div><%= link_to genre.name, genre_path(genre.id)%></div>
  <% elsif admin_signed_in? %>
    <div><%= link_to genre.name, admin_genre_path(genre.id)%></div>
  <% end %>
<% end %>

