<% article.article_comments.each do |article_comment| %>
    <%= article_comment.comment %>
    <% if article_comment.customer == current_customer %>
      <%= link_to 'Destroy', article_article_comment_path(article_comment.article, article_comment), remote: true, method: :delete, class: "btn btn-sm btn-danger"%>
    <% end %>
    <p><%= article_comment.customer.nickname %></p>
<% end %>