@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.02);
}

.background{
  background-image: image-url('/background.png');
}

header{
  background-image: image-url("/header.png");
}

img{
  width:150px;
}
