<div class="container">
  <div class="row">
   <div class="col-sm-12 col-md-11 col-lg-8 px-5 px-sm-0 mx-auto my-3" >
    <h3 class="mb-3">会員一覧</h3>
     <table class='table'>
      <thead class="table-dark">
        <tr>
         <th>会員ID</th>
         <th>氏名</th>
         <th>メールアドレス</th>
         <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
       <% @user.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.nickname, admin_user_path(user) %></td>
          <td><%= user.email %></td>
          <td>
           <% if user.is_deleted %>
           <p class="text-muted font-weight-bold">退会</p>
           <% else %>
           <P class="text-success font-weight-bold">有効</P>
           <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
     </table>
   </div>
  </div>
</div>