<div class='container my-5'>
  <div class='row align-items-start'>
    <div class='col-md-3'>
      <%= render 'info', user: @user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <% @favorite_articles.each do |article|%>
        <%= link_to article.question, article_path(article) %>
      <% end %>
    </div>
  </div>
</div>