<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-7'>
      <h2>users</h2>
    <% @users.each do |user| %>
    <tbody>
      <tr>
        <td><%= user.nickname %></td>
        <td><% if current_user.following?(user) %>
                フォロー中
              <% else %>
                未フォロー
              <% end %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    </tbody>
    <% end %>
    </div>
  </div>
</div>