<div class='container my-5'>
  <div class='row align-items-start'>
    <div class='col-md-3'>
      <%= render 'info', user: @user %>
    </div>
    <table class='col-md-8 offset-md-1 table-striped'>
      <%= render 'public/articles/list', articles: @articles %>
      <tr style="font-size:15px; line-height: 2;"><td><%= paginate @articles %></td></tr>
      <tr style="font-size:15px; line-height: 2;"><td>(全<%= @user.articles.count %>件)</td></tr>
    </table>
  </div><!-- row end -->
</div><!-- container end -->
